<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yams</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>

    <%- include("../partials/header"); %>

    <div class="d-flex flex-column justify-content-center align-items-center w-100">
        <h1 class="mb-5 results--title">Results</h1>

        <div class="my-5 container__results">
            <% data.forEach(result => { 
                if (result.patriesName.length) { %>
                    <div class="my-5 card__container card--win">
                        <%- include("../partials/card", { result: result }); %>
                    </div>
                <% } else { %>
                    <div class="my-5 card__container card--loose">
                        <%- include("../partials/card", { result: result }); %>
                    </div>
                <% }
            }) %>
        </div>
    </div>
    
</body>
</html>